@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title.</h2>
<h3>Студентска система за анкетиране</h3>

<p>Добре дошли в студентската система за анкетиране. Като студент, всеки от вас може да попълни много различни анкети, с които да ни помогнете в нашата задача за обработка на анкетни данни :)</p>
