@{
    ViewBag.Title = "Контакти";
    ViewBag.Message = "Страница за контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Русенски университет "Ангел Кънчев"<br />
    ул. „Студентска“ 8, 7017 Русе<br />
    <strong>Лице за контакт:</strong>  Владимир Владимиров<br />
    <abbr title="Phone">P:</abbr>
    0884076330
</address>

<address>
    <strong>Имейл:</strong>   <a href="mailto:vladimirov321@hotmail.com">vladimirov321@hotmail.com</a><br />
</address>