@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Students Survey System</h1>
    <p class="lead">Добре дошли в нашия сайт за онлайн анкетиране</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered by ASP.NET</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Регистрирай се сега!
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class="btn btn-default"})</p>
        
        <p><a href = "@Url.Action("Details", "Student")" class="btn btn-default">Details for account</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Влезте със съществуващ акаунт</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
</div>